*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', "Segoe UI", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

p {
  margin: 1.2em 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: rgba(0, 0, 0, .05);
  padding: .5em;
  overflow-x: auto;
}

pre>code {
  display: block;
}

